


header{

background-image: url(../images/illustration/banner.png);
width: 100%;
height: 550px;



}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.animal{

margin-top: -105px;

}


.box img{

width: 300px;

}

.spa{

width: 150px;
height: 60px;
background-color: white;
position: relative;
z-index: 1;
margin: -35px auto;

}

.cat{

background-image: url(../images/illustration/contact_bg.png);
width: 100%;
height: 450px;
text-align: center;
color: white;
padding: 10px;
background-position: center center;
background-size: cover;
}

.btnx{

background-color: #EE5912;
width: 150px;
}

@media only screen and (min-width: 768px) {
    .boxes{

        width: 30%;
            }


}


@media only screen and (min-width: 992px) {

.menuu{

    width: 80%;
    margin: 0 auto;
}


.box img{

    width: 380px;
    
    }
    .mote{
        width: 60%;
    }

    .cat{

        background-image: url(../images/illustration/contact_bg.png);
        width: 100%;
        height: 600px;
        text-align: center;
        color: white;
        padding: 50px 400px;
        
        }

}